<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h1>Exemplo Requirejs</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="alert"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h5>Esta página tem o intuido apresentar algumas funcionalidades do Requirejs apresentadas no Javaneiros
                2014.</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <button type="button" data-bind="click: alertinfo" class="btn btn-success">Info</button>
            <button type="button" data-bind="click: alerterror" class="btn btn-danger">Error</button>
        </div>
    </div>

</div>